body{background-color: red;}
body{background-image: linear-gradient(to right,black, rgb(126, 0, 0), red, rgb(126, 0, 0), black);} 
body{text-align: center;}
footer{text-align: center;}
p{font-size: 30px;}
body{font-size: 15px;}
h2{font-family: cursive;}
h2{font-size: 25px;}